* {
    margin: 0px;
    padding: 0%;
}

.Header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.first_nav,
.second_nav {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    /* padding-bottom: 1%; */
    /* border-bottom: 1px solid grey; */
    /* position: fixed; */
}

.left_first_nav {
    min-width: 40%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.dropdownContent {
    width: 12%;
    margin-top: 3.6%;
    margin-left: -1.5%;
    /* height: 100px; */
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px 20px 20px;
    position: absolute;
    display: none;

}


.drop:hover {
    color: rgba(245, 40, 145, 0.8);
}

.drop:hover+.dropdownContent {
    display: block;
}


.imgshow {
    width: 100%;
    margin-top: 5%;
}



.left_first_nav>#cen {
    align-self: center;
}


.profile_and_cart {
    display: flex;
    flex-direction: column;
    color: grey;
}

.bar {
    background-color: rgb(223, 223, 223);
    border-radius: 2px;
    width: 2px;
    height: 40px;
}

.download_app {
    display: flex;
}

#search_bar {
    position: relative;
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    max-width: 380px;
}

#search_bar_2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0;

}

#search_bar_2>input {
    width: 100%;
    border: 0;
    outline: none;
}

.second_nav>a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    /* border-bottom: none; */
}

.second_nav>a:hover {
    cursor: pointer;
    color: hotpink;
    border-bottom: 2px solid hotpink;

}