* {
    margin: 0px;
    padding: 0%;
}

.first_nav {
    display: flex;
    /* background-color: #00ffff; */
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.left_first_nav {
    min-width: 40%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

#cen:hover {
    color: palevioletred;
}

.left_first_nav>#cen {
    align-self: center;
}


.profile_and_cart {
    display: flex;
    flex-direction: column;
}

.bar {
    background-color: rgb(223, 223, 223);
    border-radius: 2px;
    width: 2px;
    height: 40px;
}

.download_app {
    display: flex;
}

#search_bar {
    position: relative;
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    max-width: 380px;
}

#search_bar>input {
    border: 0;
    width: 85%;
    outline: 0;

}